/*此文件为二级目录新闻动态页面css文件*/
#newsList ul li{
    font-size: 16px;
    list-style: disc;
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
}
#newsList ul li a{
    text-decoration: none;
}
#newsList{
    margin-top: 30px;
    margin-bottom: 50px;
}
#right{
    padding-left: 50px;
}
#more{
    float: right;
    width: 100px;
    height:20px;
}